<h1>Carrito de Compras</h1>
<div class="cart">
    {{#each cart}}
    <div class="cart-item">
        <h2>{{product.title}}</h2>
        <p><strong>Descripción:</strong> {{product.description}}</p>
        <p><strong>Precio:</strong> ${{product.price}}</p>
        <p><strong>Categoría:</strong> {{product.category}}</p>
        <p><strong>Cantidad:</strong> {{quantity}}</p>
        <button onclick="removeFromCart('{{_id}}')">Eliminar del Carrito</button>
    </div>
    {{/each}}
</div>

<script src="/js/products.js"></script>