<h1>Detalle del producto</h1>

<div>
    <h2>{{title}}</h2>
    <h3>Descripción: {{description}}</h3>
    <p>Precio: {{price}}</p>
    <p>Código: {{code}}</p>
    <p>Stock: {{stock}}</p>
    <p>Categoría: {{category}}</p>
</div>

<button onclick="addToCart('{{id}}')">Agregar al Carrito</button>

<script src="/js/products.js"></script>