<h1>Productos E-Commerce Tomi</h1>
{{#each products}}
<p>Título: {{this.title}}</p>
<p>Descripción: {{this.description}}</p>
<p>Precio: {{this.price}}</p>
<p>Código: {{this.code}}</p>
<p>Stock: {{this.stock}}</p>
<p>Categoría: {{this.category}}</p>
{{/each}}