    <h1>Productos</h1>
    {{#if products.length}}
        <div class="products-list">
            {{#each products}}
                <div class="product-card">
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}</p>
                    <p>Precio: ${{this.price}}</p>
                    <p>Categoría: {{this.category}}</p>
                    <p>Stock: {{this.stock}}</p>
                    <p>Código: {{this.code}}</p>
                    <button onclick="location.href='/products/{{this._id}}'">Ver Detalles</button>
                    <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
                </div>
            {{/each}}
        </div>

        <div class="pagination">
            {{#if hasPrevPage}}
                <a href="{{prevLink}}">Página Anterior</a>
            {{/if}}

            <p>{{page}}</p>

            {{#if hasNextPage}}
                <a href="{{nextLink}}">Página Siguiente</a>
            {{/if}}
        </div>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}

    <script src="/js/products.js"></script>